@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Theory of Programming</title>
    <link href="~/Content/css/home.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1599529033646382";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Header -->
    <div class="container-fluid tech-background">
        <table class="text-light" style="height:350px; width:100%">
            <tbody>
                <tr>
                    <td class="align-middle" style="width:100%">
                        <center>
                            <h1>Theory of Programming</h1>
                            <p>
                                Programming Simplified!
                            </p>
                            <a class="btn btn-light text-dark"><span class="fa fa-github"></span>&nbsp; GitHub</a> &nbsp;
                            <a class="btn btn-primary"><span class="fa fa-facebook-official"></span>&nbsp; Facebook</a>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Theory of Programming</a>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="drop-down-data-structures" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Data Structures
                        </a>
                        <div class="dropdown-menu" aria-labelledby="drop-down-data-structures">
                            <a class="dropdown-item" href="#">Graphs</a>
                            <a class="dropdown-item" href="#">Binary Indexed Tree or Fenwick Tree</a>
                            <a class="dropdown-item" href="#">Trie Tree</a>
                            <a class="dropdown-item" href="#">Segment Tree</a>
                            <a class="dropdown-item" href="#">Binary Heap</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="drop-down-algorithms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Algorithms
                        </a>
                        <div class="dropdown-menu" aria-labelledby="drop-down-data-structures">
                            <a class="dropdown-item" href="#">Breadth First Search</a>
                            <a class="dropdown-item" href="#">Depth First Search</a>
                            <a class="dropdown-item" href="#">Bellman Ford Algorithm</a>
                            <a class="dropdown-item" href="#">Dijkstra's Algortihm</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Java</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">C++</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br />
    <!-- Main content -->
    <div class="container">
        <p>
            Theory of Programming is a very helpful website that helps you in understanding a wide range of programming concepts.
            There are many posts on Data Structures, algorithms and the Java which explain the concepts with vivid explanations,
            well-drawn diagrams and also come with the actual code of concept.
            Theory of Programming also has posts on solving competitive coding questions which are based on data structures and
            algorithms discussed in the website. These help you not only to be a hero in your classroom but also a legend in the
            coding websites such as CodeChef, SPOJ, etc.
        </p>
        <h3>Choose a Topic</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Graph Theory</h4>
                        Learn about algorithms like -
                        <ul>
                            <li><a href="#">Graph Data Structure</a></li>
                            <li><a href="#">Breadth First Search</a></li>
                            <li><a href="#">Depth First Search</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More in this topic</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dynamic Programming</h4>
                        Learn about algorithms like -
                        <ul>
                            <li><a href="#">Edit Distance</a></li>
                            <li><a href="#">Longest Common Subsequence</a></li>
                            <li><a href="#">Longest Increasing Subsequence</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More in this topic</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tree Data Structures</h4>
                        Learn about data structures like -
                        <ul>
                            <li><a href="#">Binary Heap</a></li>
                            <li><a href="#">Binary Indexed Tree</a></li>
                            <li><a href="#">Trie Tree</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More in this topic</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Java</h4>
                        Learn about Java topics like -
                        <ul>
                            <li><a href="#">Encapsulation</a></li>
                            <li><a href="#">Inheritance</a></li>
                            <li><a href="#">Polymorphism</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More in this topic</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Searching Algorithms</h4>
                        Learn about algorithms like -
                        <ul>
                            <li><a href="#">Binary Search</a></li>
                            <li><a href="#">Jump Search</a></li>
                            <li><a href="#">A* Algorithm</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More in this topic</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Graph Theory</h4>
                        Learn about algorithms like -
                        <ul>
                            <li><a href="#">Quicksort</a></li>
                            <li><a href="#">Merge Sort</a></li>
                            <li><a href="#">Insertion Sort</a></li>
                        </ul>
                        <a href="#" class="btn btn-primary">More in this topic</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Latest Posts</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Compressed Trie Tree</a>
                    <a href="#" class="list-group-item list-group-item-action">Jump Search Algorithm</a>
                    <a href="#" class="list-group-item list-group-item-action">Dynamic Programming - Edit Distance</a>
                    <a href="#" class="list-group-item list-group-item-action">Binary Search Algorithm</a>
                    <a href="#" class="list-group-item list-group-item-action">Java - Constructor and Overloading Methods</a>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Most Viewed Posts</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Breadth First Search</a>
                    <a href="#" class="list-group-item list-group-item-action">Trie Tree</a>
                    <a href="#" class="list-group-item list-group-item-action">Graph and its Representations</a>
                    <a href="#" class="list-group-item list-group-item-action">Bellman Ford Algorithm</a>
                    <a href="#" class="list-group-item list-group-item-action">Depth First Search</a>
                </div>
            </div>
        </div>
        <br />
        <h3>Learn something new in just a few minutes!</h3>
        <div class="row">
            <div class="col-lg-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modular Arithmetic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">December, 2014</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modular Arithmetic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">December, 2014</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modular Arithmetic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">December, 2014</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modular Arithmetic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">December, 2014</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modular Arithmetic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">December, 2014</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 topic-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Modular Arithmetic</h4>
                        <h6 class="card-subtitle mb-2 text-muted">December, 2014</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Facebook comments plugin -->
            <div class="col-sm-12">
                <hr />
                <div class="section">
                    <h4>Comments</h4>
                    <div class="fb-comments" data-href="https://vamsisangam.github.io/theoryofprogramming/" data-width="100%" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="tech-background">
        <div class="col-sm-12 text-light" style="box-shadow: 0 -4px 4px 0 rgba(0,0,0,0.14);">
            <div class="container" style="padding-top:30px; padding-bottom:30px;">
                <table id="footer-table">
                    <tbody>
                        <tr>
                            <td colspan="0">
                                <center>
                                    <h1>Theory of Programming</h1>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <br>
                                    This website is only lacking your support! Support us by liking and sharing Theory of Programming on Facebook!
                                    <br><br>
                                    <div class="fb-like" data-href="https://www.facebook.com/TheoryOfProgramming" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                                </center>
                            </td>
                            <td>
                                <center>
                                    <br>
                                    Theory of Programming is open source! Contribute by starring and forking Theory of Programming on GitHub!
                                    <br><br>
                                    <!-- Place this tag where you want the button to render. -->
                                    <a aria-label="Star vamsisangam/theoryofprogramming on GitHub" data-show-count="true" data-size="large" href="https://github.com/vamsisangam/theoryofprogramming" class="github-button">Star</a>
                                    <!-- Place this tag where you want the button to render. -->
                                    <a aria-label="Fork vamsisangam/theoryofprogramming on GitHub" data-show-count="true" data-size="large" href="https://github.com/vamsisangam/theoryofprogramming/fork" class="github-button">Fork</a>
                                </center>
                            </td>
                            <td>
                                <center>
                                    <br>
                                    Donate to Theory of Programming on PayPal. Your donation will help cover domain and server costs.
                                    <br><br>
                                    <a class="btn btn-success"><i class="fa fa-paypal"></i> &nbsp; Donate</a> &nbsp;
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>