.topic-card .card {
    margin-bottom:30px;
}

.tech-background {
    background: url('../img/background.jpg') top right no-repeat;
    background-attachment: fixed;
}

#footer-table td {
    padding:10px;
}