.topic-card .card {
    margin-bottom:30px;
}

.tech-background {
    background: url('../img/background.jpg') top right no-repeat;
    background-attachment: fixed;
}

#footer-table td {
    padding:10px;
}

.texture-black-linen {
    background: url('../img/black-Linen.png') !important;
    background-repeat: repeat;
}

.texture-dark-mosaic {
    background: url('../img/dark_mosaic.png') !important;
    background-repeat: repeat;
}

.texture-crossword {
    background: url('../img/crossword.png') !important;
    background-repeat: repeat;
}

#menu-toggle-btn {
    position:absolute;
    top:20px;
    left:20px;
}